/*
$Log: Print.css,v $
Revision 2.8  2010-03-10 14:02:39  monente-helber#his.de
import von QisDesign.css entfernt

Revision 2.7  2007/12/06 08:58:37  monente
Ersatz von LSFServlet.css durch QISDesign.css

Revision 2.6  2005/04/02 17:06:28  brummermann
grauen Hintergrund nicht mit ausdrucken

Revision 2.5  2004/07/12 11:33:32  bolte
Gruene Warnung ist jetzt dunkler

Revision 2.4  2004/02/26 12:49:05  brummermann
Bugfix: .input auch im Ausdruck anzeigen, dafuer .submit nicht mehr.

Revision 2.3  2004/02/08 14:40:25  brummermann
importiert jetzt LSFServlet.css, damit die Regel nicht mehr doppelt gepflegt werden muessen

*/


body {background-color: #FFF}

.menu1_off,
.menu1_on,
.menu2_off,
.menu2_on,
.button,
.submit,
.kleinerButton {display:none;}

.noprint {
display:none;
}
