/* import der HISinOne-CSS-Definitionen*/
/* @import "HISinOne.css"; */

/* import der aktiven QIS-CSS-Definitionen des alten Layouts in neuem Design: */
@import "QISDesignBestand.css";

/* Vorablösung: CSS-Design für PROFIS-Änderungsfunktion einschließen */
@import "PROFISaendernBewerber.css";

/* XKeyfield(erweiterter Schlüsselauswahldialog)-Styles einbinden*/
@import "css/xkeyfield.css";

/* Ingos testcss importieren */
@import "HU.css";

/* Islams HUBelegung importieren */
@import "HUBelegung.css";

/*  TODO: Erläuterung und Visualisierung aller CSS/XHTML-Kombinationen für HISinOne im Styleguide
/*****************************************************************************/
/*  INHALTSVERZEICHNIS: */
/*****************************************************************************/
/*  Makrolayout Navigationsrahmen frame.vm */
/*  Mikrolayout Contentbereich */
/*  Allgemeines Layout */
/*  Karteikarten */
/*  Links  */
/*  Tabellen */
/*  DIV-Container */
/*  Überschriften */
/*  Texte */
/*  Listen */
/*  Absätze */
/*  Fehlermeldungen */
/*  Farben */
/*  Formulare */
/*  Formulare.DIV-Container */
/*  Formulare.Label */
/*  Formulare.Input */
/*  Formulare.Textield */
/*  Submitbuttons */
/*	Bilder */



/*****************************************************************************/
/*  Makrolayout Navigationsrahmen frame.vm */
/*****************************************************************************/
body {
	/* color: #014A7B;		*/
	/* background-color: #FFFFFF;	*/
	background-color: #F0F0E8;
	font-family: Verdana, Helvetica, Arial, sans-serif !important;
	/* margin-top: 0px;	*/
	/* padding: 0px;	*/
    	/* font-size: 82.5%;	*/
	font-size: 80%;
}

code {
	font-family: Courier;
	font-weight: bold;
	font-size: 110%;
}

#wrapper {
	/*
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 30px;
	margin-right: 30px;
	*/
	/* neu			*/
	background-color: #FFFFFF;
	border-left: 1px solid #CCCCB2;
	border-right: 1px solid #CCCCB2;
	margin-left: auto;
	margin-right: auto;
	max-width: 100em; /*wollen wir das? */
	min-width: 95em;
}
.divcontent {
	/* UmschließtNavigationsbaum und Inhalt*/
  	float: left;
	background-color: #FFFFFF;
	width: 100%;
	display: inline;
}

.printcontent {
  	float: left;
	background-color: #FFFFFF;
	display: inline;
	padding: 20px;
}


/*
	### Makronavitation - Anfang ###
*/
#makronavigation {
	/* Ausgeklapptes Menü*/
    width: 19%;
    float: left;
    /* sollte weiss werden, die einzelnen farben kommen spaeter in die Listen */
    background-color: #FFFFFF;
	/*
	padding-left:2px;
	padding-right:2px;
	*/
}
#makronavigation .visited {
	/* Klasse, welche den Link formatiert, wenn die Seite aktiv ist*/
	color: #0A4F7E;
	text-decoration: none;
	list-style-type: none;
	list-style-position: outside;
	left: 0px;
	font-weight: bold;
}
#makronavigation .auflistung {
	/* Klasse, welche den Link formatiert, wenn die Seite nicht aktiv ist*/
	color: #003366;
    	background-color: #E0E0D1;
	text-decoration: none;
	list-style-type: none;
	list-style-position: outside;
	margin-top: 0px;
	left: 0px;
	font-weight: normal;
}


#makronavigation .auflistung img {
	/*der < wird formatiert */
	/*vertical-align:bottom;*/
}
#min_navigation {
	/* Eingeklapptes Menü */
    float: left;
	width: 1.8em;
    height: 18em;
    background: #CCCC99;
}
.HUNaviLiText {
    background: #CCCC99;
}

a.HUNaviMitBild {
	padding-left: 1.2em;
	background: url("https://agnes.hu-berlin.de/hu-files/images/raus.svg") no-repeat left center;
	
}

li.HUNaviMitBild {
	/*
	background: url("https://agnes.hu-berlin.de/hu-files/images/raus.svg") ;
	background-repeat: no-repeat;
	background-position: right;
	*/
}


.makromenueauf {
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: 7.7em 7.5em;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 7.7em 7.5em;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: 7.7em 7.5em;
    -o-transform: rotate(-90deg);
    -o-transform-origin: 7.7em 7.5em;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform: rotate(-90deg);
    transform-origin: 7.7em 7.5em;
    display: block;
    height: 1.8em;
    width: 18em;
}

/* Formatierung der rollenspezifischen Angaben */
.roleSpezText {
	margin: 1.8em 1em 1.8em 2em;
	background-color: #ffffff;
}


/*
	### Makronavigation - Ende ###
*/


.currentItem {
	font-weight: bold;
}

/* inactive identisch mit auflistung bis auf color */
/* wegen Internet Explorer identische Einträge wiederholen */
.inactive {
	color: darkgrey;
	text-decoration: none;
	list-style-type: none;
	list-style-position: outside;
	margin-left: 0px;
	margin-bottom: 10px;
	padding-left: 0px;
	left: 0px;
	font-weight: normal;
	line-height: 13px;
}

.content {
 	width: 81%;
    	background-color: white;
    	/* margin-left: 2em; */
   	float:left; /* prf */
	display: block; /* prf */
    	padding-top: 0.5em;
    	padding-bottom: 1em;
    	min-height: 400px;
}
.content_max {
    	background-color:#FFFFFF;
	float:left;
	display: block;
	width: 98%;
    	padding-top: 0.5em;
}
.content_max_portal {
    	/* background-color:#DEE2EB; alt, nun weiss: */
    	background-color:#FFFFFF;
	float:left;
	display: block;
	width: 78%;
}
.content_full_portal {
    	/* background-color:#DEE2EB; alt, nun weiss: */
    	background-color:#FFFFFF;
	float: left;
	display: block;
	width: 98%;
    	padding-top: 0.5em;
    	padding-bottom: 1em;
}
.contentbreit {
    	width: 99%;
    	/* background-color:#DEE2EB; alt, nun weiss: */
    	background-color:#FFFFFF;
    	padding:4px;
}
.divloginstatus {
    	background-color: #006AB3;
	color: #FAFAFA;
	padding: 3px 0px 2px 7px;
	margin-top: 4px;
	width: 100%;
}
.divfoot {
   	background-color: #006AB3;
	color: #FAFAFA;
	clear: left;
	width: 100%;
}
.divheader{
    	width: 100%;
	margin-top:3px;
	margin-bottom: 3px;
}
.divlinks {
	color: #014A7B;
    	background-color: #FFFFFF;
	padding: 3px 0px 5px 4px;
	margin-top: 3px;
}
.portalcontent{
	 width:35%;
	 float:left;
	 padding-left:4px;
	 padding-right:4px;
	 margin-top:25px;
}
.portalcontent2{
    	width:30%;
    	float:left;
    	padding: 220px 0px 4px 4px;
    	position:relative;
}
/*****************************************************************************/
/*  Allgemeines Layout */
/*****************************************************************************/
hr {
	background-color: #014A7B;
	padding: 0;
	margin-top: 1px;
	margin-bottom: 1px;
	border-bottom: 0px #00F;
	height:1px;
}
.unsichtbar {
	position: absolute;
	left: -3000px;
}
label {
	cursor: pointer;
}

.nowrapText {
	white-space: nowrap;
}

.verticalAlignMiddle {
	vertical-align: middle !important;	
}

.floatRight {
	float: right;
}

/*****************************************************************************/
/*  Mikrolayout Contentbereich */
/*****************************************************************************/
/*****************************************************************************/
/*  Karteikarten Mikronavigation*/
/*****************************************************************************/
.mikronavi {
    background-color: #FFFFFF;
    line-height: 170%;
	padding: 4px 6px 4px 6px;
	margin: 10px 0px 0px 0px;
	min-width: 530px;
}
.mikronavi  a:link, .mikronavi a:visited, .mikronavi a:focus, .mikronavi a:hover, .mikronavi a:active {
   	color: #014A7B;
   	text-decoration: underline;
}
.mikronavi a:focus {
   	color: #7FB4D8;
}
.mikronavi a:hover {
   	color: #7FB4D8;
}
.mikronavi a:active {
   	color: #7FB4D8;
}
.mikronavi ul{
  	list-style-type:none;
  	margin: 0;
  	padding: 0;
}
.mikronavi li{
  	list-style-type:none;
	border-left: #7FB4D8 1px solid;
   	padding: 0px 4px 0px 6px;
  	margin:10px 0;
  	display:inline;
}
.mikronavi li.randlos {
	border: 0;
}
.mikronavi a:visited, .mikronavi a:focus, .mikronavi a:hover, .mikronavi a:active {
   	color: #014A7B;
   	text-decoration: underline;
}
/*****************************************************************************/
/*  Funktionselemente  */
/*****************************************************************************/
.functionnavi {
   	line-height: 170%;
}
.functionnavi a:link {
   	color: #014A7B;
   	text-decoration: none;
}
.functionnavi a:focus {
   	color: #7FB4D8;
}
.functionnavi a:hover {
   	color: #7FB4D8;
}
.functionnavi a:active {
   	color: #7FB4D8;
}
.functionnavi ul{
  	list-style-type:none;
  	margin: 0;
  	padding: 0;
}
.functionnavi li{
  	list-style-type:none;
	border-left: #7FB4D8 1px solid;
   	padding: 0px 4px 0px 6px;
  	margin:10px 0;
  	display:inline;
}
.functionnavi li.randlos {
	vertical-align: middle;
	border: 0;
}
/*****************************************************************************/
/*  Links  */
/*****************************************************************************/
/* fuer den Loginstatus */
.links3 {
	line-height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
.links3:focus, .links3:hover, .links3:active {
	color: #AF2B2B;
   	background-color: #EFDFC2;
   	text-decoration: underline;
}

/* fuer die Hauptmenuepunkte der Makronavigation */
.links2, .links2visited {
	font-size: 120%;
	line-height: 24px;
}
.links2, .links2visited {
	color: #014A7B;
	text-decoration: none;
}
.links2visited {
	font-weight: bold;
}
.links2:focus, .links2:hover, .links2:active {
	color: #AF2B2B;
   	background-color: #EFDFC2;
   	text-decoration: underline;
}

/* fuer einen beliebigen Link im Content-Bereich */
a.regular:link, a.regular:visited, a.regular:focus, a.regular:hover, a.regular:active {
   	color: #014A7B !important;
   	text-decoration: none;
}

a.regular:focus, a.regular:hover, a.regular:active {
   	color: #999966 !important;
}

/* fuer Registerkarten im Content-Bereich */
a.register:link, a.register:visited {
   	color: #014A7B !important;
   	text-decoration: none;
}

a.register:focus, a.register:hover, a.register:active {
   	color: #999966 !important;
	text-decoration: none;
}

.links, .linksvisited, .linksblack {
	line-height: 20px;
	list-style-type: none;
	list-style-image: none;
	margin-left: 0px;
	padding: 0;
}
.links, .linksblack {
	text-decoration: none;
	font-weight: normal;
}
.linksblack {color:#000000;}
.linksvisited {
	font-weight: bold;
}

.minilinks {
	font-size: 75%;
	text-decoration: none;
	font-weight:normal;
}

/* fuer Links in der Prüfungsanmeldung, die eine An- oder Abmeldung auslöst */
a.pr_storno:link, a.pr_storno:visited, a.pr_storno:focus, a.pr_storno:hover, a.pr_storno:active,
a.pr_anmeld:link, a.pr_anmeld:visited, a.pr_anmeld:focus, a.pr_anmeld:hover, a.pr_anmeld:active,
a.pr_ummeld:link, a.pr_ummeld:visited, a.pr_ummeld:focus, a.pr_ummeld:hover, a.pr_ummeld:active,
a.pr_beleg:link,  a.pr_beleg:visited,  a.pr_beleg:focus,  a.pr_beleg:hover,  a.pr_beleg:active {
   	text-decoration: underline;
}
a.pr_storno:link, a.pr_storno:visited {
	color: #DD5555;
}
a.pr_anmeld:link, a.pr_anmeld:visited {
	color: #55BB55;
}
a.pr_ummeld:link, a.pr_ummeld:visited {
	color: #AAAA55;
}
a.pr_beleg:link, a.pr_beleg:visited {
	color: #5555AA;
}
a.pr_storno:focus, a.pr_anmeld:focus, a.pr_ummeld:focus, a.pr_beleg:focus {
   	color: #AF2B2B;
   	background-color: #EFDFC2;
}
a.pr_storno:hover, a.pr_anmeld:hover, a.pr_ummeld:hover, a.pr_beleg:hover {
   	color: #AF2B2B;
   	background-color: #EFDFC2;
}
a.pr_storno:active, a.pr_anmeld:active, a.pr_ummeld:active, a.pr_beleg:active {
   	color: #7FB4D8;
}

.geheZuLinkImage {
	background-repeat: no-repeat;
	background-position: 0 4px;
	padding-left: 14px;	
}

.pdfIcon {
	background-image: url('https://agnes.hu-berlin.de/hu-files/images/pdf.png');
	padding-left: 16px;
	background-repeat: no-repeat;
	background-size: 14px;	
	background-position: 0 1px;	
}

.iCalIcon {
	padding-left: 20px;
	background-repeat: no-repeat;	
}

/*****************************************************************************/
/*  Tabellen */
/*****************************************************************************/
.mod, .mod_header, .mod_modul, .mod_grid {
	text-align: left;
	vertical-align: top;
	padding: 2px 7px 2px 7px;
    margin-top: 1em;
    background-color: /*#194B7B;*/ #F0F0E8;
    /*color: #FFFFFF;*/
    border: 1px solid #CCD6E0;
    font-weight: /*normal;*/ bold;
}
.mod_header {
	width: 10%;
    background-color: #FFFFFF;
    color: #014A7B;
}
.mod_modul {
	width: 10%;
}
.mod_grid {
	padding: 2px;
	white-space: normal;
}
.mod_n, .mod_n_odd, .mod_n_even, .mod_n_header, .mod_n_basic, .mod_n_department, .mod_n_error, .mod_n_conflict {
	border: 1px solid #CCD6E0;
	/*border-top: none;*/
	background-color: #FFFFFF;
	font-weight: normal;
	vertical-align: top;
	padding: 2px 7px 2px 7px;
}
.mod_n_even {
	background-color: /*#B2C3D3;*/ #DFE7EE;
}
.mod_n_header {
	background-color: #CCD6E0;
}
.mod_n_basic {
	width: 30%;
}
.mod_n_error {
	color: #FF0000;
}

.mod_n_error2 {
	background-color: #FF7F00;
}

.mod_n_success2 {
	background-color: #AEF49D;
}

.mod_n_conflict {
	border:1px solid red;
}

.mod_n_department {
	width: 50%;
}
.mod_t{
	background-color: #7FB4D8;
	font-size: 120%;
	font-weight: bolder;
	padding-top: 2px;
	padding-bottom: 2px;
}
.qis_header{
	background-color: #7FB4D8;
	font-weight: bold;
	font-size: 160%;
}
.qis_verlauf{
	background-color: #DEE2EB;
	font-size: 110%;
}
.qis_infos{
	background-color: #DEE2EB;
}
.qis_fach{
	background-color: #EAEBEC;
	font-size: 110%;
	font-weight: bold;
}
.qis_records{
	color: #014A7B;
}
.qis_kontoOnTop{
	font-size: 110%;
	font-weight: bold;
	background: #DFE7EE;
    border-bottom: 1px solid #014A7B;
}
.qis_konto{
	background: #DFE7EE;
}
.qis_veranst {
	text-align: justify;
	color: #808080;
	text-decoration: none;
	font-weight: bold;
	background-color: #FAFAFA;
	line-height: 14px;
	border: 1px solid #DEE2EB;
	padding:2px;
}
.tabelle1 {
	text-align: justify;
	text-decoration: none;
	font-weight: bold;
	line-height: 14px;
	border: 1px solid #DEE2EB;
	padding: 2px;
}

.tabelle1OK {
	text-align: justify;
	color: #375798;
	text-decoration: none;
	font-weight: bold;
	background-color: #AEF49D;
	line-height: 14px;
	border: 1px solid #DEE2EB;
	padding: 2px;
}

.tabelle1NotOK {
	text-align: justify;
	color: #375798;
	text-decoration: none;
	font-weight: bold;
	background-color: #FF7F00;
	line-height: 14px;
	border: 1px solid #DEE2EB;
	padding: 2px;
}

.tabelleheader, .tabelleheader2 {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align:justify;
    background-color: #194B7B;
	border: 1px solid #CCD6E0;
	padding: 2px 7px;
    vertical-align: top;
}
.tabelleheader2 {
	background-color: #B2C3D3;
	color: #375798;
}
.tabelleInhalt {
	background-color: #E5EAF0;
	border:1px solid #DEE2EB;
	color:#375798;
}
.tabelleLeftBorder {
	border-left:1px solid #3E6A97 !important;
}
.tabelleRightBorder {
	border-right:1px solid #3E6A97 !important;
}
.tabelleTopBorder {
	border-top:1px solid #3E6A97 !important;
}
.tabelleheadertext {
	font-weight: bold;
	color: #FAFAFA;
	text-decoration: none;
}

table {
    border-collapse: collapse;
}

/* Leistungen des aktuellen und vorherigen Semesters */

.tabKopf, .tabKopfCenter{
    background-color: #194B7B;
    color: #FFFFFF;
	font-weight: bold;
	text-align:center;
	vertical-align:top;
    border: 1px solid #CCD6E0;
}

.tabKopfCenter{
	text-align: left;
}

.genericTable {
    margin-top: 0.5em;
}

.menu1_on {
    background: #FFFFFF;
}

.tri_tbl {
    color: #FFFFFF;
	background-color: #194B7B;
}

/*****************************************************************************/
/*  DIV-Container */
/*****************************************************************************/
.menublock{
   margin-left: 50px;
   background-color:#FAFAFA;
   width:100%;
   padding:5px;
}
.abstand_veranstaltung {
	height: 20px;
	clear: both;
}
.abstand_leistung, .abstand_info {
	height: 20px;
	clear: both;
}
.abstand_search {
	height: 10px;
	clear: both;
}
.abstand_pruefinfo {
	height: 20px;
	clear: both;
}
#searchHelp {
	float: right;
}
.cal_LineBegin, .cal_LineMiddle, .cal_LineEnd {
	height:130px;
	padding: 0px 5% 5% 0px;
	float:left;
}
.cal_LineBegin {
	clear:left;
}
.cal_LineMiddle {
	clear:none;
}
.cal_LineEnd {
	clear:right;
	float:none;
}
.Kruemelpfad {
	font-size: 85%;
	font-weight: normal;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding: 6px 0px 6px 0px;
}
.KruemelpfadEintrag {
	background-image: url('/QIS/images/his_minipfeile.gif');
	background-repeat: no-repeat;
	background-position: 0px center;
	padding-left: 20px;
	display: inline;
}
#Studienganginfo, .InfoLeiste {
	/*
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding: 6px 0px 6px 0px;
	margin-left: -0.5em;
	*/
}
.Leistungen_Inhalt {
	padding-left: 16px;
}
.inputlabel, .pseudolabel {
	width: 20%;
	text-align: right;
	vertical-align: middle;
	float: left;
	margin-right: 5px;
}
.infolabel {
	width: 12%;
	text-align: right;
	clear: both;
	float: left;
	margin-right: 5px;
}
.bezeichner, .bezeichner_exam {
	font-weight: bold;
	width: 20%;
	border-left: 1px solid #7fb4d8;
	border-bottom: 1px solid #7fb4d8;
	border-right: 1px solid #7fb4d8;
	padding: 2px 7px 2px 7px;
	clear: both;
	float: left;
}
.feld, .feld_exam {
	width: 50%;
	background-color: #FFFFFF;
	padding: 2px 7px 2px 7px;
}
#change_header {
	/* padding: 3px;*/
}
#change_header_text {
	float: left;
}
#change_header_detail {
	float: right;
}
.missing_checkbox {
	margin-right: 5px;
	float: left;
}
.erg_list_entry, .fieldset_entry {
	line-height: 150%;
	clear: both;
	display: block;
}
.fieldset_entry {
	margin-bottom: 3px;
}

.erg_list_label, .erg_list_label_small, .erg_list_label_title, .erg_list_label_narrow{
	font-weight: bold;
	text-align: right;
	width: 25%;
	margin-right: 10px;
	float: left;
}
.erg_list_label_small {
	width: 20%;
}
.erg_list_label_title {
	width: 5%;
}
.erg_list_label_narrow {
	font-weight: normal;
	width: 20%;
}
.tabMenuContainer {
}
.divMod {
	font-weight: bold;
	white-space: nowrap;
	border-left: #7FB4D8 1px solid;
	border-bottom: #7FB4D8 1px solid;
	border-right: #7FB4D8 1px solid;
	padding: 2px 7px 2px 7px;
}
.divMod_n_basic {
	width: 30%;
	background-color: #FFFFFF;
	padding: 2px 7px 2px 7px;
}
.divModLineLeft {
	float: left;
}
.divModLineBreak {
	clear: both;
	padding-top: 7px;
}
.table_1 {
        overflow:auto;
        float:left;
}

.box_success {
	padding: 10px;
	border:1px solid #006C45;
	background-color: #fff;
	color: #006C45;
	font-weight: bold;
}

.box_error {
	padding: 10px;
	border:1px solid #ff0000;
	background-color: #FEEEEE;
	color: #ff0000;
	font-weight: bold;
	margin-bottom: 10px;
}

.box_error li {
	margin-top: 10px;
}

.box_info {
	padding: 10px;
	border:1px solid #cc3300;
	background-color: #ffffcc;
	color: #cc3300;
	font-weight: bold;
	margin-bottom: 10px;
}

/*****************************************************************************/
/*  Überschriften */
/*****************************************************************************/
.t_capt {
	font-size: 115%;
	font-weight: bold;
	margin-bottom: 3px;
	margin-top: 3px;
	white-space:nowrap;
	text-align: left;
	margin-bottom: 10px;
}

.t_captNormalfont {
	font-size: 85%; /* 100% = 115% von .t_capt */
	font-weight: normal;
}

/*	deprecated: -- h1 verwenden --*/
.inhalt {
	font-size:200%;
	color: #014A7B;
	font-weight: bold;
	padding-left:8px;
}
/*****************************************************************************/
/*  Texte */
/*****************************************************************************/
.warnung{
	color: #FF0000;
	font-weight: bolder;
}
.grueneWarnung{
	color: #119022;
	font-weight: bolder;
}
.standardgroesse {
	font-size: 82.5%;
}
/*****************************************************************************/
/*  Listen */
/*****************************************************************************/
ul.treelist, ul.treelist ul, ul.treelist1, ul.treelist1 ul {
	margin: 0;
	padding-left: 0;
}
ul.treelist li, ul.treelist1 li {
	margin-top: 0.2em;
	list-style-type: none;
	padding-left: 1em;
}
ul.treelist1, ul.treelist1 ul {
	padding-left: 8px;
	font-weight: bold;
	text-decoration: none;
}
ul.treelist1 li {
	font-weight: bold;
	text-decoration: none;
}

/*  ANFANG: Listen im contentbereich, bspw. Hilfe-Center*/
.mikronavi_list {
	/*width: 50%;*/
    background-color: #FFFFFF;
    line-height: 170%;
	padding: 4px 6px 4px 6px;
	margin: 10px 0px 0px 0px;
	min-width: 430px;
}
.mikronavi_list .liste_lang{
	width: 90%;
	background-color: red;
}
.mikronavi_list a:link, .mikronavi_list a:visited, .mikronavi_list a:focus, .mikronavi_list a:hover, .mikronavi_list a:active {
   	color: #014A7B;
   	text-decoration: underline;
}
.mikronavi_list a:focus {
   color: #7FB4D8;
}
.mikronavi_list a:hover {
   color: #7FB4D8;
}
.mikronavi_list a:active {
   color: #7FB4D8;
}
.mikronavi_list ul{
  	margin: 0;
  	padding-left: 10px;
  	list-style-type:none;
}
.mikronavi_list ol{

}
.mikronavi_list li{
}

.tabMenuList {
	list-style-type: none;
    line-height: 1.8em;
    border-bottom: 2px solid #CCD6E0;
}
.tabMenuList li {
	margin: 0px;
	padding: 3px 1px 3px 1px;
	display: inline;
}
.tabMenuList li.current {
	font-weight: bold;
}
.tabMenuList li.entry, .tabMenuList li.weitere {
	margin-left: 2px;
	background-color: #CCD6E0;
}
.abstand20 {
	display: block;
	float: left;
	width: 20%; /* Breite.*/
	min-width: 120px;
}

.abstand40 {
	display: block;
	float: left;
	width: 35%; /* Breite.*/
	min-width: 200px;
	padding-right: 0.5em;
}
.abstand60 {
	display: block;
	float: left;
	width: 60%; /* Breite.*/
	/* line-height: 1em !important; */
}
.abstand80 {
	display: block;
	float: left;
	width: 75%; /* Breite.*/
}
.abstandEnde {
	display: block;
	width: 0%; /* Breite.*/
	clear: left;
}
/*  ENDE: Listen im Contentbereich  */

/*
	Marcel: Listen für Hilfeseiten
	(Bisher wurde dort "mikronavi_list" verwendet, was aber so wie oben implementiert
	 für die Hilfe-Seiten nicht korrekt funktioniert. Da es aber an sehr vielen Stellen
	 unterschiedlich verwendet wird, kann es nicht einfach angepasst werden.)
*/
ol.listHelp {
	list-style-type: decimal;
	list-style-position: inside;
}

ol.listHelp li {
	margin-bottom: 10px;
}

.listHelpQuestionTitle {}

.listHelpQuestionContent {
	margin: 10px 15px;
}

.listHelpAnswer {}


li.Abstand_in_Listen {
	padding: 0px 0px 6px 0px;
}
/*****************************************************************************/
/*  Absätze */
/*****************************************************************************/
p {
    margin: 1px;
	padding: 1px;
}
/*****************************************************************************/
/*  Fehlermeldungen */
/*****************************************************************************/
.fehlermeldung {
	font-size: 75%;
	line-height: 10px;
	color: #CC3300;
	text-decoration: none;
}
/*****************************************************************************/
/*  Farben */
/*****************************************************************************/
.color {
	color: #014A7B;
}
.darkbluecolor {
	color: #014C7E;
}
.kleinemeldung {
	color: #014C7E;
	text-decoration: none;
	font-size: 12px;
}
.orangecolor {
	color: #F0B413;
}
.redcolor {
	color: #BB0000;
}
.background {
	background-color: #FFFFFF;
	padding-left:7px;
	padding-top:5px;
	padding-right:7px;
}
table.hiscalendar td.termWeekDay {
	background-color: #FFFEC7;
}
table.hiscalendar td.termWeekendDay {
	background-color: #E1F5C4;
}
table.hiscalendar span.feiertag {
	color: #4F8895;
	font-weight: bold;
}
table.hiscalendar td.day {
	background-color: #E9EABD;
}
table.hiscalendar td.weekend {
    background-color: #BEBDAD;
}
table.hiscalendar td.today span {
	color: #FF4E50;
	font-weight: bold;
}
table.hiscalendar td.todayweekend {
	font-weight: bold;
	color: #FF4E50;
}
/*****************************************************************************/
/*  Formulare */
/*****************************************************************************/

.qispos_pdfList_excelInputFieldset {
	float: left;	
}

.qispos_pdfList_excelInputFieldset ul li {
	vertical-align: bottom;
	float: left;
}

/*****************************************************************************/
/*  Formulare.DIV-Container */
/*****************************************************************************/
.formular{
    margin: 1px;
	padding: 1px;
}
/*****************************************************************************/
/*  Formulare.Label */
/*****************************************************************************/
.label{
	width: 90px;
	border: 0px solid #851395;
	text-align: left;
	display: block;
	float: left;
	margin-right: 5px;
	line-height: 20px;
	font-weight: normal;
	margin-left: 0px;
	padding: 0;
}
/*****************************************************************************/
/*  Formulare.Input */
/*****************************************************************************/
.radio {
	text-align: left;
}/*
#saveTan, #closeTan, #excelExportTan, #csvExportTan {
	border: 1px solid #B2C1D1;
	padding: 0.16em 0em 0.16 em 0em;
}*/
/*****************************************************************************/
/*  Formulare.Textield */
/*****************************************************************************/
/*****************************************************************************/
/*  Submitbuttons */
/*****************************************************************************/
.button {
	font-size: 120%;
	line-height: 24px;
	color: #FFFFFF;
	background-color: #014A7B;
	border: #6B8AC9;
}
/*input:focus, input:hover, input:active {
	color: #AF2B2B;
   	background-color: #EFDFC2;
}*/

.teilnehmerButtons {
	list-style: none;
}

.teilnehmerButtons li {
	display: inline-block;
}

.teilnehmerButtons input[type="submit"] {
	margin-top: 10px;
}

/*****************************************************************************/
/*  Bilder */
/*****************************************************************************/

img {
	border: 0px;
}
/*img:focus, img:hover {
	border: 1px solid #AF2B2B;
	background-color: #EFDFC2;
}*/
img.edit {
	width: 25px;
	height: 15px;
}
img.termin_stift {
	width: 14px;
	height: 14px;
}
img.pdf {
	width: 35px;
	height: 16px;
}
img.matrix {
	width: 20px;
	height: 17px;
}
img.bubble {
	width: 14px;
	height: 12px;
}
img.email {
	width: 15px;
	height: 15px;
}
img.protocol {
	width: 13px;
	height: 14px;
}
img.lupe {
	width: 20px;
	height: 18px;
}
img.vvzueberschrift {
	width: 12px;
	height: 12px;
}


fieldset.spaltig {
	/*border: none;*/
	/*margin-left: -1px;*/ /* um die Borderbreite wieder nach links verruecken */
	margin-left: 0px;
	/*padding:0em;*/
	line-height: 1em;
	border: 1px solid #CCD6E0;
}

/*****************************************************************************/
/*  under construction */
/*****************************************************************************/

fieldset {
	/*border: none;*/
	/*margin-left: -1px;*/ /* um die Borderbreite wieder nach links verruecken */
	margin-left: 0px;
	/*padding:0em;*/
	border: 1px solid #CCD6E0;
}

legend {
    font-size: 140%;
    margin-left: -0.25em;
    /*padding:0em;*/
}

.abstand_passwort {
	height: 20px;
}

.hidden {
	display: none;
}

.Tree {
	padding: 0px;
}

.aboutHIS {
	padding: 10px;
	float: left;
}

.about_Eintrag {
	padding-left: 40px;
}

.erg_list_line {
    color: #CCD6E0;
	margin-top: 10px;
	margin-bottom: 10px;
}
.macro_div {
	margin-right: 5px;
	float: left;
}
.just_float_left {
	margin-right: 5px;
	float: left;
}
.webTerm_activities {
	margin: 3px 0px 5px 0px;
}

/*****************************************************************************/
/*  SVA */
/*****************************************************************************/

.sva_auswahl {width:150px }
.sva_button {
	font-size: 100%;
	line-height: 20px;
	background-color: #D0D0D0;
	color: #014A7B;
	font-weight: 600;
}

.sva_tableheader{
	font-size: 110%;
	line-height: 24px;
	color: #014A7B;
	font-weight: 600;
}

.sva_zeitform{
		border:2px solid #e0a998;
		padding-left:5px;
		padding-right:5px;
		border-collapse:collapse;
		}

.sva_zeile{
	border-width:1px;
	border-style:solid;
	border-color:#e0a998;
	background-color:#c1c7d5;
	}
.sva_statistic{
	border-width:1px;
	border-style:inset;
}
.sva_split{
	border-bottom-width:1px;
	border-style:solid;
}
.sva_gerade{
	border-width:1px;
	border-style:none;
	/*border-color:#e0a998;*/
	background-color:#cecae1;
	}

.sva_note{font-size:xx-small}

.sva_arbeitstag{
	background-color: #ffffff;
	font-size:18px;
}
.sva_keinarbeitstag{
	background-color: #bbbbbb;
	font-size:18px;
}
.sva_feiertag{
	background-color: #000000;
	font-size:18px;
	color:yellow;
}
.sva_erholungsurlaub{
	background-color: #00ff00;
	font-size:18px;
}
.sva_resturlaub{
	background-color: #00ff00;
	font-size:18px;
}
.sva_freistellungstag{
	background-color: #808080;
	font-size:18px;
	color:white;
}
.sva_krankheit{
	background-color: #ff0000;
	font-size:18px;
	color:white;
}
.sva_ueberstunden{
	background-color: #000080;
	font-size:18px;
	color:white;
}
.sva_bildungsurlaub{
	background-color: #ffff00;
	font-size:18px;
}
.sva_fehltag{
	background-color: #c0c0c0;
	color:red;
	font-size:18px;
}
.sva_sonderurlaub{
	background-color: #ff00ff;
	font-size:18px;
	color:black;
}
.sva_sonder_behindert{
	background-color: #0000ff;
	font-size:18px;
	color:white;
}

/************************************************/
/*       Für wwrite/Veranstaltung_*.vm          */      
/************************************************/
.wwrite_Veranstaltung_table_termine {
	margin-bottom: 5px;
}

.wwrite_Veranstaltung_fieldset {
	margin: 20px 0 20px;
}

.wwrite_Veranstaltung_fieldset legend {
	font-size: 120%;
	font-weight: bold;
}

.wwrite_VeranstLeistung_fieldset {
	margin: 5px 0;
}

.wwrite_VeranstLeistung_fieldset legend {
	font-size: 110%;
	font-weight: bold;
}

.wwrite_VeranstLeistung_fieldset table {
	margin-bottom: 10px;	
}


/************************************************/
/*   Für pmodul/vm/veranstaltung/webDetail/*    */      
/************************************************/

.ver_einzelAnsichtLink {
 background-position: 0 3px;
 background-repeat: no-repeat;
 padding-left: 12px;
}


/************************************************/
/*   Für Angaben zur amtlichen Statistik        */
/************************************************/

.qiszul_button {
	/* background-color:#FAFBFC; */
	background-color:#ffffff; 
	background-image:url(/hu-files/images/white18.png);
	background-position:center bottom;
	background-repeat:repeat-x;     
	
	/*color:#014A7B;*/
	
	border:1px solid #A7A7A7;
	cursor:pointer;
	font-size:80%;
	font-weight:normal;
	padding:1px 2px;
	text-decoration:none;
	margin:1px;
}
/*
.qiszul_button:hover {
	background-color:#FAFBFC;
	background-image:url(/hu-files/images/white18.png);
	background-repeat:repeat-x;
	background-position:center top;
	border:1px solid #A7A7A7;
	border-color:#EFD9AB;
	color:#333333;
	padding-bottom:1px;
}
*/

#popuphstat {
	background-color: #ffffff;
	padding: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

