{{ if .Site.Params.widgets.PublishDate }}
{{ if isset .Site.Taxonomies "PublishDate" }}
{{ if not (eq (len .Site.Taxonomies.PublishDate) 0) }}

<div class="panel sidebar-menu">
    <div class="panel-heading">
      <h3 class="panel-title">{{ i18n ".PublishDateTitle" }}</h3>
    </div>

    <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            {{ range $name, $items := .Site.Taxonomies.PublishDate }}
            <li><a href="{{ $.Site.BaseURL }}PublishDate/{{ $name | urlize | lower }}">{{ $name }} ({{ len $items }})</a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>

{{ end }}
{{ end }}
{{ end }}
